
<div class="mainFeedPageContainer">
    <div class="personalProfileContainer">
        <img class="personalProfilePicture" src="assets/Images/JavaTheHut.jpg" />
        <div class="leftFloat">
            <a class="ranterUsername">Java The Hut</a>
            <a class="ranterEditProfile">Edit Profile</a>
        </div>
    </div>
    <div class="mainFeedContainer">

        <div class="postFeedContainer">
            <div class="postFeedHeader">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>Update Status</span>
            </div>
            <hr class="colorgraph">
            <div class="postFeedBody">
                <div contenteditable class="rantTextarea" placeholder="Rant as you please"></div>
            </div>
            <hr class="colorgraph">
            <div class="postFeedFooter">
                <button class="btn btn-default btn-lg" type="button">
                    <span class="glyphicon glyphicon-camera"></span>
                </button>
                <button class="btn btn-default btn-lg postBtn btn-primary" type="button">
                    <span>Post</span>
                </button>
            </div>
        </div>

        <div class="postFeedContainer">
            <div class="postFeedHeader">
                <img class="layoutInline feederPicture" src="assets/Images/Yoda.jpg" />
                <div class="layoutInline">
                    <a class="ranterUsername">Yoda</a>
                    <span class="feedPostDate">Yesterday at 11:11am</span>
                </div>
            </div>

            <div class="postFeedBody">
                <p class="feedContent">May the force be with you my son</p>
            </div>

            <div class="postFeedFooter">
                <a class="feedResponse">Dislike</a>
                <span>·</span>
                <a class="feedResponse">Comment</a>
                <span>·</span>
                <a class="feedResponse">Share</a>
                <hr class="colorgraph">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <a class="feedResponse">66 people</a>
                <span class="likeDescription">Dislike this.</span>
                <hr class="colorgraph">
                <img class="personalProfilePicture" src="assets/Images/JavaTheHut.jpg" />
                <div class="input-group noPadding">
                    <input type="text" class="form-control" placeholder="Write a comment...">
                    <span class="input-group-addon uplaodPictureBtnContainer">
                        <button class="btn uplaodPictureBtn" type="button">
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="postFeedContainer">
            <div class="postFeedHeader">
                <img class="layoutInline feederPicture" src="assets/Images/princess-leia-44x35.jpg" />
                <div class="layoutInline">
                    <a class="ranterUsername">Princess Leia</a>
                    <span class="feedPostDate">Yesterday at 11:11am</span>
                </div>
            </div>

            <div class="postFeedBody">
                <p class="feedContent">Java, Remember the good old days?</p>
            </div>
            <div>
                <img src="assets/Images/3024789746_e65e2293e9.jpg" />
            </div>
            <div class="postFeedFooter">
                <a class="feedResponse">Dislike</a>
                <span>·</span>
                <a class="feedResponse">Comment</a>
                <span>·</span>
                <a class="feedResponse">Share</a>
                <hr class="colorgraph">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <a class="feedResponse">66 people</a>
                <span class="likeDescription">Dislike this.</span>
                <hr class="colorgraph">
                <div>
                    <img class="feederPicture" src="assets/Images/OB1.jpg" />
                    <div class="ranterCommentContainer layoutInline">
                        <a class="ranterUsername">Obi Wan Kenobi</a>
                        <span>I rememer that night differently.</span>
                        <span>·</span>
                        <a class="feedResponse">Dislike</a>
                        <span>·</span>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <a class="feedResponse">6 people</a>
                    </div>
                    <hr class="colorgraph">
                </div>
                <img class="personalProfilePicture" src="assets/Images/JavaTheHut.jpg" />
                <div class="input-group noPadding">
                    <input type="text" class="form-control" placeholder="Write a comment...">
                    <span class="input-group-addon uplaodPictureBtnContainer">
                        <button class="btn uplaodPictureBtn" type="button">
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div cla></div>
    </div>
</div>
