<div class="loginContainer">
    <div class="panel-heading">
        <h1 class="panel-title">Please sign in</h1>
    </div>
    <div class="loginSubContainer">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="text" class="form-control" placeholder="Password">
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="" class="btn btn-lg btn-primary btn-block" ui-sref="register">Register</a>
            </div>
        </div>
    </div>
</div>