<div class="container">

    <div>
        <div class="formContainer">
            <form role="form">
                <div class="formHeaderContainer">
                    <h2>Please Sign Up<small class="subHeader">It's free and always will be.</small></h2>
                </div>
                <div class="registerProfileImg">
                </div>
                <hr class="colorgraph">
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" ng-model="model.username">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Email" ng-model="mode.email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-picture"></span>
                    </span>
                    <input type="text" class="form-control uplaodPictureFiels" readonly placeholder="Profile picture" ng-model="model.image">
                    <span class="input-group-addon uplaodPictureBtnContainer">
                        <button class="btn uplaodPictureBtn" type="button">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </button>
                    </span>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Password" ng-model="model.password">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Password Confirmation">
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="formFooter">
                    <div class="formBtnContainer"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="events.register()"></div>
                    <div class="formBtnContainer"><a href="#" class="btn btn-success btn-block btn-lg" ui-sref="root">Sign In</a></div>
                </div>
            </form>
        </div>
    </div>
</div>